<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782197547693-6mb53ci605qpp3g1fttm7j2ap9aau4go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782197547693-6mb53ci605qpp3g1fttm7j2ap9aau4go</string>
	<key>API_KEY</key>
	<string>AIzaSyDy7BFkvy2KGDDJqo6YUGtj_oJTttk2yk4</string>
	<key>GCM_SENDER_ID</key>
	<string>782197547693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.altersolutions.AlterSolutionsChallengeApp</string>
	<key>PROJECT_ID</key>
	<string>altersolutionschallenge</string>
	<key>STORAGE_BUCKET</key>
	<string>altersolutionschallenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782197547693:ios:4c5130be3e400375119c24</string>
</dict>
</plist>